<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroApp"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Garden.GardenListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MyProfileActivity"
            android:exported="false"></activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".Activities.ScreenshotShortcutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MarketPlace.MarketPlaceAddItemToCartActivity"
            android:exported="false"></activity>
        <activity
            android:name=".Activities.Garden.AddGardenActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activities.MarketPlace.MarketPlaceActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activities.Garden.GardenDetailsVolunteerViewActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activities.MarketPlace.MarketBrowseGardenActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activities.MarketPlace.MarketBrowseCategoryItemsActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Activities.Cart.CartPickUpsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Cart.CartPendingCheckoutSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Cart.CartPendingCheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Cart.CartPendingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Cart.CartCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RateItemActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditDeleteItemActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagePickUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManageOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManageItemsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EmployeeDetailsActivity"
            android:exported="false" />
    </application>

</manifest>